<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated vendingMachineUAQ -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="vendingMachineUAQ.presentation.VendingMachineUAQModelWizardID"
            name="%_UI_VendingMachineUAQModelWizard_label"
            class="vendingMachineUAQ.presentation.VendingMachineUAQModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VendingMachineUAQModelFile.gif">
         <description>%_UI_VendingMachineUAQModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated vendingMachineUAQ -->
      <editor
            id="vendingMachineUAQ.presentation.VendingMachineUAQEditorID"
            name="%_UI_VendingMachineUAQEditor_label"
            icon="icons/full/obj16/VendingMachineUAQModelFile.gif"
            extensions="vendingmachineuaq"
            class="vendingMachineUAQ.presentation.VendingMachineUAQEditor"
            contributorClass="vendingMachineUAQ.presentation.VendingMachineUAQActionBarContributor">
      </editor>
   </extension>

</plugin>
