.container{
	margin: auto;
  width: 600px;
  border: 2px solid #73AD21;
  padding: 10px;
}

.text-center{
	text-align: center;
}

a{
background-color: #0440aa99; /* Green */
  border: none;
  color: white;
  padding: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div{
	margin: 15px 2px;
	
}

li{
	margin: 15px 2px;
	
}

.item-container{
	margin: auto;
  width: 600px;
  border: 2px solid #73AD21;
  padding: 10px;
}

.back-home{

}
.back-home a{
	background-color: #ff00008a;
}
	
